.wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.hero__title {
  font-size: 48px;
  font-family: sans-serif;
  line-height: 64px;
  font-weight: 600;
  color: rgb(54, 54, 54);
}
.hero__subtitle {
  font-size: 24px;
  font-family: serif;
  line-height: 40px;
  font-weight: 400;
  color: black;
}